html,body {
    color: #5a5a5a;
    font-family: Microsoft YaHei,Simsum,serif;
    overflow-x: hidden
}

a:hover,a:focus {
    outline: 0
}

#head {
    border-bottom: 1px solid #eee
}

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px
}

#head .navbar-toggle {
    border-color: #2eb9ba;
    padding: 0 10px;
    margin-bottom: 5px;
    margin-right: 8px;
    color: #2eb9ba;
    font-size: 20px
}

.navbar-wrapper .navbar .container {
    width: auto
}

.navbar-wrapper .logo {
    background: url("../img/logo_mini.png?__sprite") no-repeat;
    width: 120px;
    height: 40px;
    display: inline-block;
    margin: 10px auto 0
}

.navbar-wrapper .nav-ry>li {
    float: left;
    margin: 0 10px
}

.navbar-wrapper .nav-ry>li>a:focus,.nav-ry>li>a:hover {
    background-color: inherit;
    border-bottom: 3px solid #2eb9ba
}

.navbar-wrapper .nav-ry>li>a {
    color: #333;
    font-size: 1.2em;
    padding-bottom: 10px
}

.navbar-wrapper .nav-ry .active {
    background-color: inherit;
    border-bottom: 3px solid #2eb9ba
}

.navbar-wrapper .nav-ry .active a:focus,.navbar-wrapper .nav-ry .active a:hover {
    border-bottom: 0
}

.call-num {
    font-size: 10px
}

.ry-tab {
    margin: 10px 20px
}

.ry-tab>li>a {
    padding: 5px 10px;
    color: #2eb9ba
}

.ry-tab>li.active>a,.ry-tab>li.active>a:focus,.ry-tab>li.active>a:hover {
    background-color: #2eb9ba
}

.navbar {
    margin-bottom: inherit
}

.nav-info>li>a {
    color: #2eb9ba;
    padding: 0;
    margin: 5px 0 5px 15px
}

.nav-info>li>a:focus,.nav-info>li>a:hover {
    background-color: inherit;
    text-decoration: underline
}

.nav-info .open>a,.nav-info .open>a:focus,.nav-info .open>a:hover {
    background-color: inherit
}

.dropdown-ry li a:hover,.dropdown-ry li a:focus,.dropdown-ry li a:active,.dropdown-ry li.active a,.dropdown-ry li.active a:hover,.dropdown-ry .dropdown-submenu:hover>a,.nav-tabs .dropdown-ry li>a:focus {
    background: #3bc9cb;
    color: #fff
}

.nav-info .dropdown-ry:before {
    border-bottom: 7px solid rgba(0,0,0,0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px
}

.nav-info .dropdown-ry:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px
}

.nav-info .dropdown-ry.dropdown-menu-right:before {
    left: auto;
    right: 9px
}

.nav-info .dropdown-ry.dropdown-menu-right::after {
    left: auto;
    right: 10px
}

#body .menu-right .header {
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #999;
    font-weight: bold;
    background-color: #ddd
}

#body .menu-right .header.active {
    border-right: 3px solid #0c9798;
    color: #fff;
    background-color: #2eb9ba
}

#body .menu-right .header a {
    display: block
}

#body .secMenu,#body .menu-right {
    line-height: 50px
}

#body .secMenu {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8e8e8
}

#body .secMenu a,#body .menu-right a {
    font-size: 1.1em
}

#body .secMenu a {
    color: #333
}

#body .secMenu a:hover,#body .secMenu a:focus,#body .secMenu li.active a,#body .menu-right a:hover,#body .menu-right a:focus,#body .menu-right li.active a {
    text-decoration: none;
    background-color: inherit
}

#body .secMenu a:hover,#body .secMenu a:focus,#body .secMenu li.active a {
    color: #2eb9ba
}

#body .menu-right a {
    color: #888
}

#body .menu-right a:hover,#body .menu-right a:focus,#body .menu-right li.active a {
    color: #2eb9ba
}

#body .menu-right li.active:before {
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    float: right;
    color: #2eb9ba;
    margin-top: -3px;
    margin-bottom: -6px
}

#body .menu-right li {
    border-bottom: 1px solid #ddd
}

#body .menu-right .navbar-nav {
    margin-top: 0;
    margin-bottom: 0
}

#rightMenu {
    min-height: 615px
}

.link-green,.font-green {
    color: #2eb9ba!important
}

.link-green:focus,.link-green:hover {
    color: #2eb9ba!important
}

.link-gray,.font-gray {
    color: #999!important
}

.link-gray:focus,.link-gray:hover {
    color: #999!important
}

.auth-user-info {
    font-size: 14px
}

.auth-user-info img {
    width: 15px
}

.font-14px {
    font-size: 14px
}

.font-24px {
    font-size: 24px
}

.font-white {
    color: #fff!important
}

.font-pink {
    color: #ed5565!important
}

.font-maroon {
    color: #a84200!important
}

.font-yellow {
    color: #f39c11!important
}

.font-blue {
    color: #31859b!important
}

.font-red {
    color: #e74c3c!important
}

.font-springGreen {
    color: #77c06e!important
}

.label-gray {
    background-color: #99a3b1
}

.label-turquoise {
    background-color: #33babd
}

.label-springgreen {
    background-color: #77c06e
}

.label-orange {
    background-color: #fc5f00
}

.ry-nav-stacked>li>a {
    padding: 5px;
    color: #3bc9cb
}

.ry-nav-stacked>li.active>a {
    background: #3bc9cb;
    color: #fff
}

.ry-nav-stacked>li.active>a:focus,.ry-nav-stacked>li.active>a:hover {
    background: #3bc9cb
}

#body {
    background-color: #eee
}

#body .content {
    background-color: #fafafa;
    padding-bottom: 50px
}

.page-header {
    border-bottom: 1px solid #e1e4e9;
    margin: 0;
    padding: 0
}

.page-header h1 {
    line-height: 30px;
    font-size: 25px
}

.page-header small {
    white-space: nowrap
}

.page-header small+small {
    margin-left: 20px
}

#footer {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    background-color: #666
}

#footer .breadcrumb {
    margin-top: 0
}

#footer a {
    color: #e3e3e3
}

#footer .muted {
    color: #b5b5b5
}

#footer .container {
    padding-left: 0
}

#footer p {
    margin: 5px 0
}

#footer .breadcrumb li+li:before {
    content: "|"
}

#footer .breadcrumb a {
    color: #e3e3e3
}

#footer .breadcrumb li+li a {
    padding-left: 5px
}

#footer .follow-weixin strong {
    padding-left: 5px;
    color: #e3e3e3;
    font-weight: normal
}

#footer .wechat-footer {
    color: #c6c6c6
}

#footer .wechat-footer:before {
    content: ""
}

#footer .wechat-footer .wechat {
    background: url("../img/weixin-logo.png?__sprite") no-repeat 0 3px;
    height: 20px;
    width: 75px;
    display: inline-block;
    text-indent: 20px
}

#footer .copy {
    font-size: 20px
}

.footer_logo {
    background: url("../img/qrcode-small.png?__sprite") no-repeat;
    width: 81px;
    height: 99px;
    margin-right: -10px;
    margin-top: 20px
}

.ry-form {
    color: #768082;
    font-family: "simsun,����"
}

.ry-form .must {
    color: #ed5565;
    font-size: 10px
}

.ry-form .control-label {
    font-weight: normal
}

.ry-form .input-min {
    width: 100px;
    display: inline
}

.ry-form .n-invalid {
    border-color: #ed5565;
    color: #ed5565;
    background: url("../img/ico/ry_ico_remove_sign.png?__sprite") no-repeat right 20px center #fff
}

.ry-form .n-valid {
    border-color: #8cc152;
    background: url("../img/ico/ry_ico_ok_sign.png?__sprite") no-repeat right 20px center #fff
}

.ry-form .n-error .n-msg {
    color: #ed5565
}

p.tip {
    margin-top: 30px;
    padding: 10px 0 10px 55px;
    background: url("../img/ico/ry_ico_idear.png?__sprite") no-repeat 10px #f1f1f1;
    border-radius: 5px
}

div.tip-block {
    margin-top: 30px;
    padding: 10px 0 10px 55px;
    background: url("../img/ico/ry_ico_idear.png?__sprite") no-repeat 10px #f1f1f1;
    border-radius: 5px
}

.btn-green,.btn-pink,.btn-gray,.btn-grey,.btn-blue,.btn-ryblue {
    font-family: Microsoft Yahei;
    width: auto
}

.btn-green {
    color: #fff;
    background-color: #2ecc71
}

.btn-green:hover,.btn-green.focus {
    color: #fff;
    background-color: #2cc26b
}

.btn-pink {
    color: #fff;
    background-color: #ed5565;
    border-bottom: 3px solid #da4453
}

.btn-blue {
    background-color: #4fc1e9;
    border-bottom: 3px solid #3bafda;
    color: #fff
}

.btn-ryblue {
    background-color: #2eb9ba;
    border-bottom: 3px solid #1da8a9;
    color: #fff
}

.btn-pink:hover,.btn-pink:focus,.btn-blue:hover,.btn-blue:focus,.btn-ryblue:hover,.btn-ryblue:focus {
    color: #fff;
    text-decoration: none;
    outline: 0
}

.btn-gray,.btn-grey {
    background-color: #eee;
    border-bottom: 3px solid #dad9d9;
    color: #666
}

.btn-none,.btn-none:focus {
    background: 0;
    border: 0;
    outline: 0
}

.btn-100w {
    width: 100px
}

.row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out
}

.row-offcanvas-right {
    left: 0;
    min-height: 615px
}

.row-offcanvas-left {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    left: 0
}

.row-offcanvas-right .sidebar-offcanvas {
    left: -65%
}

.row-offcanvas-left .sidebar-offcanvas-left {
    left: -65%
}

.row-offcanvas-right.active {
    left: 65%
}

.row-offcanvas-left.active {
    left: 65%
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 65%
}

.sidebar-offcanvas-left {
    padding-left: 30px;
    position: absolute;
    top: 0
}

.row-offcanvas-left .panel-menu {
    border-width: 0;
    display: none
}

.row-offcanvas-left.active .panel-menu {
    display: block
}

.sidebar-offcanvas .user-header {
    width: 175px;
    margin: 5px auto
}

.sidebar-offcanvas .user-header .img-head {
    width: 50px;
    float: left
}

.sidebar-offcanvas .user-header .dropdown {
    margin-top: 10px
}

.panel-menu>.list-group .list-group-item {
    border-width: 0
}

.panel-menu>.panel-heading {
    background-color: #d8edec
}

.panel-menu .list-group {
    background-color: #f6f8fa
}

.panel-menu a.list-group-item {
    background-color: #f6f8fa
}

.panel-menu a.list-group-item .badge {
    background-color: #bbb
}

.panel-menu a.list-group-item:focus,.panel-menu a.list-group-item:hover {
    font-weight: bold
}

.panel-menu .list-group-item.active,.panel-menu .list-group-item.active:focus,.panel-menu .list-group-item.active:hover {
    background: 0;
    font-weight: bold;
    color: #555;
    background-color: #eaeaea
}

.panel-menu .list-group-item.active>.badge {
    color: #fff
}

.panel-menu .sec-item {
    background-color: #fff;
    margin-bottom: 0;
    display: none
}

.panel-menu .sec-item li a {
    padding: 10px 15px 10px 0;
    display: inline-block;
    width: 100%;
    color: #555
}

.panel-menu .sec-item li.active,.panel-menu .sec-item li.active a {
    color: #2eb9ba
}

.panel-menu .sec-item li:hover,.panel-menu .sec-item li a:hover {
    color: #2eb9ba
}

.mt20 {
    margin-top: 20px
}

.mt10 {
    margin-top: 10px
}

.mt5 {
    margin-top: 5px
}

.mb100 {
    margin-bottom: 100px
}

.m0 {
    margin: 0
}

.pt7 {
    padding-top: 7px
}

img.img-head {
    background-color: #a0a0a0;
    max-width: 100%
}

.label {
    font-weight: normal
}

.pinch-zoom-container {
    height: 100%!important;
    margin: 30px 10px 10px
}

.pinch-zoom-close {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 5px;
    background: #ed5565;
    color: #fff;
    border: 0
}

.pagination-ry>a {
    color: #768082
}

.pagination-ry>.active>a,.pagination-ry>.active>a:focus,.pagination-ry>.active>a:hover {
    background-color: #6b99ae;
    border: 1px solid #c5c5c5
}

.nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.nowrap:after {
    content: "..."\9
}

.randImage {
    height: 35px;
    width: 80px
}

.ry-table-gray thead {
    background-color: #f5f5f5;
    color: #555
}

.ry-table-gray tbody {
    color: #555
}

.ry-table-gray>thead>tr>th,.ry-table-gray>tbody>tr>th,.ry-table-gray>thead>tr>td,.ry-table-gray>tbody>tr>td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 3px
}

.ry-table-gray>tbody>tr>td {
    font-size: 10px
}

.ry-table-gray>tbody>tr>td:first-child {
    background-color: #f5f5f5;
    font-weight: bold
}

.ry-table-gray.last-hl>tbody>tr>td:last-child {
    color: #d35400;
    font-weight: bold
}

.table-green>thead>tr {
    background-color: #d8edec;
    font-weight: bold
}

.agreement-t2 {
    margin: 25px 0;
    line-height: 25px;
    text-indent: 2em
}

.closeBtn {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 10px;
    top: 10px;
    border: 0;
    background: 0
}

.font-mini {
    font-size: 11px
}

.adv-block {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: #000;
    filter: Alpha(opacity=50);
    *zoom:1;background-color: rgba(0,0,0,0.5);
    color: #fff;
    height: 20%;
    min-height: 20%;
    padding-top: 3%
}

@media(min-width : 768px) {
    .navbar-wrapper .logo {
        background:url("../img/head_logo.png?__sprite") no-repeat;
        width: 220px;
        height: 50px
    }

    .call-num {
        font-size: 14px
    }

    .navbar-wrapper {
        margin-top: 20px
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0
    }

    .navbar {
        margin-bottom: 20px
    }

    .page-header h1 {
        line-height: 65px;
        font-size: 36px
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4
    }

    .featurette-heading {
        font-size: 50px
    }

    .carousel .item {
        height: 400px
    }

    .auth-user-info {
        font-size: 24px
    }

    .auth-user-info img {
        width: 30px
    }

    #body .menu-right {
        display: none!important
    }

    #footer {
        height: 135px;
        font-size: 12px;
        font-family: "����"
    }

    #footer .breadcrumb {
        background: 0;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 20px
    }

    .ry-form .input-mid {
        width: 100%
    }

    .row-offcanvas-right {
        min-height: inherit
    }

    .sidebar-offcanvas-left {
        position: inherit;
        padding-left: 15px
    }

    .row-offcanvas-right.active {
        left: 0
    }

    .row-offcanvas-left.active {
        left: 0
    }

    .row-offcanvas-left .sidebar-offcanvas-left {
        left: 0
    }

    .row-offcanvas-left .panel-menu {
        display: block
    }

    .ry-table-gray>thead>tr>th,.ry-table-gray>tbody>tr>th,.ry-table-gray>thead>tr>td,.ry-table-gray>tbody>tr>td {
        font-size: 14px;
        padding: 8px
    }

    .btn-green,.btn-pink,.btn-gray,.btn-grey,.btn-blue,.btn-ryblue {
        padding: 10px 20px
    }

    .adv-block {
        height: 29%;
        min-height: 29%;
        padding-top: 3%
    }
}

@media(min-width : 992px) {
    .featurette-heading {
        margin-top:120px
    }

    .carousel .item {
        height: 500px
    }

    .navbar-wrapper .logo {
        margin-right: 80px
    }

    .ry-form .form-control {
        height: 45px;
        height: 35px \0;
        border-width: 2px;
        border-color: #e3e4e8;
        margin-right: 5px
    }

    .ry-form .form-control:focus {
        border-color: #66afe9
    }

    .ry-form .n-invalid {
        border-color: #ed5565;
        color: #ed5565;
        border-width: 2px
    }

    .ry-form .n-valid {
        border-color: #8cc152;
        border-width: 2px
    }

    .randImage {
        height: 45px
    }
}

@media(max-width : 370px) {
    .hidden-xxs {
        display:none!important
    }
}
