@CHARSET "UTF-8";.form-signin {
    margin: 0 auto;
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8) none repeat scroll 0 0!important;
    filter: Alpha(opacity=80);
    background: #FFF
}

.form-signin .login {
    position: relative
}

.form-signin .login .form-group {
    color: #fff;
    margin-bottom: 15px
}

.form-signin .login .form-group .pull-right {
    font-size: 12px;
    padding: 0
}

.form-signin .login .form-group .pull-right a {
    color: #555;
    font-size: 12px
}

.form-signin-heading {
    font-family: Microsoft Yahei;
    color: #333;
    font-size: 18px;
    text-align: center;
    margin: 20px 0
}

#body .bind-content {
    padding: 20px
}

#body .login-bg {
    background: url("../img/login_bg.jpg") no-repeat center center;
    padding: 20px
}

#body .login-bg.bg0 {
    background-image: url("../img/wap_login_bg.jpg")
}

#body .login-bg.bg1 {
    background-image: url("../img/wap_login_bg1.jpg")
}

#body .login-bg.bg2 {
    background-image: url("../img/wap_login_bg2.jpg")
}

.form-group .help-inline {
    font-size: 14px;
    padding: 0;
    height: 15px;
    width: auto;
    display: inline-block;
    margin-left: 8px
}

.msg-box {
    color: #555
}

.ry-form .n-error .n-msg {
    color: #f6ac2d
}

#loginbutton {
    width: 100%
}

.input-group-addon {
    border: 1px solid #b1b1b1
}

.has-error .input-group-addon {
    border-color: #ed5565;
    color: #ed5565
}

.has-success .input-group-addon {
    border-color: #8cc152;
    color: #8cc152
}

.pl0 {
    padding-left: 0
}

.form-signin-heading .titleErr {
    background-color: #ed5565;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
    color: #FFF
}

.form-signin-heading .titleSuc {
    background-color: #2cc268;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px
}

.ry-form .login,.ry-form .choose-character {
    color: #555
}

.ry-form .form-control {
    border: 1px solid #b1b1b1
}

.ry-form .form-control.n-invalid {
    border-color: #ed5565
}

.ry-form .form-control.n-valid {
    border-color: #8cc152
}

.form-signin .login .form-group .input-group {
    margin-bottom: 6px
}

.form-signin .login .choose-group {
    margin-bottom: 6px
}

.choose-character,.login {
    padding: 0
}

.back-choose {
    padding-bottom: 10px;
    border-bottom: 1px solid #BBB
}

.back-choose a {
    width: 74px;
    border: 1px solid #9b9b9b;
    border-radius: 15px;
    color: #555;
    padding: 4px 0;
    margin-top: 15px
}

.head-png {
    width: 46px;
    float: right;
    border: 1px solid #FFF;
    border-radius: 2px;
    background-color: #999
}

.choose-character .head-png {
    width: 100%
}

.choose-character>div.col-xs-4 {
    padding: 0 8px
}

.login .head-png {
    background-color: #26b7bc
}

.head-png img {
    width: 100%
}

.text-character {
    text-align: center;
    margin-top: 20px;
    font-size: 14px
}

.choose-character>div>a {
    display: block;
    color: #555
}

.choose-character>div>a:hover,.choose-character>div>a:focus {
    text-decoration: none;
    color: #26b7bc
}

.choose-character>div>a:hover .head-png,.choose-character>div>a:focus .head-png {
    background-color: #26b7bc
}

@media(min-width : 768px) {
    .form-signin-heading {
        font-size:24px
    }

    .choose-character,.login {
        padding: 0 15px
    }

    #body .login-bg.bg0 {
        background-image: url("../img/login_bg.jpg")
    }

    #body .login-bg.bg1 {
        background-image: url("../img/login_bg1.jpg")
    }

    #body .login-bg.bg2 {
        background-image: url("../img/login_bg2.jpg")
    }

    .form-signin-heading {
        font-size: 24px
    }

    .text-character {
        font-size: 18px
    }

    .form-signin-heading {
        margin: 40px 0
    }

    .choose-character>div.col-xs-4 {
        padding: 0 15px
    }

    .form-signin .login .form-group .pull-right a {
        font-size: 12px
    }

    .back-choose {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0
    }

    .back-choose a {
        display: block;
        margin: 0 auto;
        width: 80px;
        border: 2px solid #9b9b9b;
        padding: 5px 0;
        margin-top: 0
    }

    .head-png {
        width: 120px;
        margin: 0 auto;
        border: 2px solid #FFF;
        border-radius: 2px;
        background-color: #999;
        float: none
    }
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_599783_pwjemytphs3y2e29.eot');
    src: url('//at.alicdn.com/t/font_599783_pwjemytphs3y2e29.eot?#iefix') format('embedded-opentype'),url('//at.alicdn.com/t/font_599783_pwjemytphs3y2e29.woff') format('woff'),url('//at.alicdn.com/t/font_599783_pwjemytphs3y2e29.ttf') format('truetype'),url('//at.alicdn.com/t/font_599783_pwjemytphs3y2e29.svg#iconfont') format('svg')
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}
